body {
    background-color: #e6e6e6;
  }
  
  .header {
    font-size: 28px;
    padding: 30px 0px 0px 0px;
  }
  
  .header a {
    font-size: 20px;
  }
  
  .box {
    background-color: #fafafa;
    margin: 40px 0px 0px 0px;
  }
  
  .card {
    width: 500px;
    padding: 0px 20px 0px 20px;
    margin: 80px 0px 0px 0px;
    border-radius: 32px;
    box-shadow: 0px 0px 1px 1px #bdbdbd; /* Removed -webkit-box-shadow */
  }
  
  .card:hover {
    box-shadow: 0px 0px 20px 1px #bdbdbd; /* Removed -webkit-box-shadow */
  }
  
  .card img {
    margin: 30px 0px 0px 0px;
    border-radius: 10px;
  }
  
  .card-title {
    margin: 20px 0px 20px 0px;
    font-size: 20px;
  }
  
  @media (max-width: 768px) {
    .header {
      font-size: 20px; /* Applied the desired font size */
      padding: 10px 0px; /* You can also adjust padding for smaller screens */
    }
  }
  